// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Blue color
$blue-primary-color: rgb(3, 88, 199);
$blue-secondary-color: rgb(5, 3, 148);
$blue-third-color: rgb(29, 210, 255);
$black-transparent-color: rgba(0, 0, 0, 0.514);

//Pink color
$pink-primary-color: rgb(255, 151, 246);
$pink-secondary-color: rgb(255, 104, 205);
$pink-third-color: rgb(251, 0, 189);
$pink-fourth-color: rgb(165, 8, 131);
$pink-fifth-color: #5d134b;

